<md-sidenav-container class="container">

    <!-- actual sidenav sidenav content -->
    <md-sidenav #sidenav class="sidenav" opened="true" mode="side">
        <div class="sidenav-header">
            <md-button-toggle-group #g="mdButtonToggleGroup" (change)="changeState(g.value)">
                <md-button-toggle [routerLink]="['convos']" [checked]="state === 'convos'" value="convos">
                    <md-icon>chat_bubble</md-icon>
                </md-button-toggle>

                <md-button-toggle [routerLink]="['contacts']" [checked]="state === 'contacts'" value="contacts">
                    <md-icon>group</md-icon>
                </md-button-toggle>

                <md-button-toggle [routerLink]="['search']" [checked]="state === 'search'" value="search">
                    <md-icon>public</md-icon>
                </md-button-toggle>

                <md-button-toggle [routerLink]="['settings']" [checked]="state === 'settings'" value="settings">
                    <md-icon>settings</md-icon>
                </md-button-toggle>
            </md-button-toggle-group>
        </div>

        <div class="sidenav-body">
            <router-outlet></router-outlet>
        </div>

    </md-sidenav>
    <!-- actual sidenav sidenav content -->

    <div class="sidenav-content">
         <button class="toggle-nav-btn" md-mini-fab (click)="sidenav.toggle()">
            <md-icon>chevron_{{sidenav.opened?'left':'right'}}</md-icon>
        </button>
        <deep-chat></deep-chat>
    </div>

</md-sidenav-container>