:host {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-around;
    padding: 20px;
    width: auto;
    height: auto;
}
:host deep-login, :host deep-signup {
    display: block;
    max-width: 45%;
    flex: 0 1 45%;
    box-sizing: border-box;
}