.home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    width: auto;
    height: auto;
}
.home > * {
    min-width: 45%;
    flex: 0 1 auto;
    box-sizing: border-box;
}