<md-card>
  <md-card-header>
    <h1>Login</h1>
  </md-card-header>
  <md-card-content>

    <!-- form scope -->
    <form [formGroup]="loginForm">

      <!-- username field -->
      <md-input-container class="full-width">
        <input formControlName="username" type="text" mdInput placeholder="username">
        <md-icon mdSuffix>face</md-icon>
        <md-error>This field is required</md-error>
      </md-input-container>
      <!-- username field -->

      <!-- password field -->
      <md-input-container class="full-width">
        <input formControlName="password" type="password" mdInput placeholder="password">
        <md-icon mdSuffix>vpn_key</md-icon>
        <md-error>This field is required</md-error>
      </md-input-container>
      <!-- password field -->

    </form>
    <!-- form scope -->

  </md-card-content>
  <md-card-actions>
    <button md-button (click)="login()">Log in</button>
  </md-card-actions>
</md-card>