<md-sidenav-container class="container">
  <md-sidenav #sidenav class="sidenav">
    <ul>
      <li>aaaaaaaa</li>
      <li>bbbbbbbbbbb</li>
      <li>ccccccc</li>
      <li>ddddddddddd</li>
      <li>eeeeeeeeeeeeee</li>
      <li>ffff</li>
      <li>g</li>
      <li>h</li>
      <li>a</li>
      <li>ew</li>
    </ul>
  </md-sidenav>

  <div class="sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>
    <ng-content></ng-content>
  </div>

</md-sidenav-container>