<md-card>
<!-- form scope -->
<form [formGroup]="signUpForm" (ngSubmit)="signUp()">

    <md-card-header>
      <h1>Signup</h1>
    </md-card-header>

    <md-card-content>
      <!-- username field -->
      <md-input-container class="full-width">
        <input formControlName="name" type="name" mdInput placeholder="name">
        <md-icon mdSuffix>face</md-icon>
        <md-error>This field is required</md-error>
      </md-input-container>
      <!-- username field -->

      <!-- username field -->
      <md-input-container class="full-width">
        <input formControlName="email" type="email" mdInput placeholder="email">
        <md-icon mdSuffix>email</md-icon>
        <md-error>This field must be a valid email</md-error>
      </md-input-container>
      <!-- username field -->

      <!-- username field -->
      <md-input-container class="full-width">
        <input formControlName="username" type="text" mdInput placeholder="username">
        <md-icon mdSuffix>fingerprint</md-icon>
        <md-error>This field is required</md-error>
      </md-input-container>
      <!-- username field -->

      <!-- password fieldgroup -->
      <div formGroupName="password" #password>
        <!-- password1 field -->
        <md-input-container class="full-width">
          <input maxlength="12" formControlName="pass" type="password" mdInput placeholder="password">
          <md-icon mdSuffix>vpn_key</md-icon>
          <md-error>The password must have a minimum length of 8 charachters</md-error>
          <md-hint align="start">Minimum length <strong>8 charachters</strong> </md-hint>
          <md-hint align="end">{{signUpForm.controls.password.value.length}} / 12</md-hint>
        </md-input-container>
        <!-- password1 field -->

        <!-- password2 field -->
        <md-input-container class="full-width">
          <input maxlength="12" formControlName="pass2" type="password" mdInput placeholder="repeat-password">
          <md-icon mdSuffix>vpn_key</md-icon>
          <md-error>The password must have a minimum length of 8 charachters</md-error>
          <md-hint align="start">Minimum length <strong>8 charachters</strong> </md-hint>
          <md-hint align="end">{{signUpForm.controls.password.value.length}} / 12</md-hint>
        </md-input-container>
        <!-- password2 field -->
      </div>
        <md-error *ngIf="signUpForm.hasError('equal', 'password')">
          Both Passwords must be the same
        </md-error>
      <!-- password fieldgroup -->
    </md-card-content>

    <md-card-actions>
      <button md-button>Sign up</button>
    </md-card-actions>

  </form>
  <!-- form scope -->
</md-card>