<md-card>
    <md-card-header>
        <div class="actions">

            <md-icon (click)="removeContact()" *ngIf="status === 1">
                remove_circle
            </md-icon>
            <md-icon (click)="ignoreContact()" *ngIf="status === 2">
                not_interested
            </md-icon>
            <md-icon (click)="acceptContact()" *ngIf="status === 2">
                add_circle
            </md-icon>
            <md-icon (click)="addContact()" *ngIf="!status && status !== 0">
                add_circle
            </md-icon>
            <md-icon *ngIf="status === 0">
                schedule
            </md-icon>

        </div>
    </md-card-header>

    <md-card-title>
         {{username}}
    </md-card-title>

    <md-card-content>
        <p><md-icon>face</md-icon>{{fullname}}</p>
        <p><md-icon>email</md-icon>{{email}}</p>
    </md-card-content>
</md-card>
